<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="GOR_HC::first_level_demo"
             title="RICE"
             translate="title"
             module="GOR_HC"
             sortOrder="50"
             dependsOnModule="GOR_HC"
             parent="Magento_Backend::content"
             resource="GOR_HC::first_level_demo" />
        <add id="GOR_HC::second_level_demo"
             title="HAT COM"
             translate="title"
             module="GOR_HC"
             sortOrder="0"
             dependsOnModule="GOR_HC"
             action="hc/index"
             parent="GOR_HC::first_level_demo"
             resource="GOR_HC::first_level_demo" />
        <add id="GOR_HC::three_level_demo"
             title="HAT COM 02"
             translate="title"   
             module="GOR_HC"
             sortOrder="1"
             dependsOnModule="GOR_HC"
             action="hc/rice"
             parent="GOR_HC::first_level_demo"
             resource="GOR_HC::first_level_demo" />
    </menu>
</config>